$tdpadding: 20px 25px;
div.patient-appointment {
    @include patientbottom;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    &>header {
        padding: 10px 25px;
        border-bottom: 1px solid $lightgrey;
    }
    div.table-container {
        @include mp;
        table.doc-available {
            padding: 15px 0px 0px 0px;
            &>thead {
                border-bottom: 1px solid $lightgrey;
                tr {
                    th {
                        border: none;
                        padding: $tdpadding;
                    }
                }
            }
            &>tbody {
                tr {
                    border-bottom: 1px solid $lightgrey;
                    @include transition;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
                    }
                    td {
                        padding: $tdpadding;
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            box-shadow: $imagestand;
                        }
                        span {
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
    }
}