div.notifications {
    @include mp;
    @include patientbottom;
    margin-top: 20px;
    padding: 25px 0px;
    border-radius: 20px;
    &>header {
        padding: 0px 15px 15px 15px;
        border-bottom: 1px solid $lightgrey;
    }
    div.messages_container {
        @include mp;
        div.message {
            @include mp;
            @include flex(no);
            justify-content: flex-start;
            padding: 15px 15px;
            border-bottom: 1px solid $lightgrey;
            p {
                @include mp;
            }
            div.action {
                button {
                    font-size: 18px;
                    padding: 12px 15px;
                    @include respond(lphone) {
                        font-size: 18px;
                        padding: 0.375rem 0.75rem;
                    }
                }
            }
        }
        div.unread {
            background: $whitegrey;
        }
    }
    div.message-single {
        padding: 50px 35px 20px 35px;
        h3 {
            @include mp;
        }
        div {
            color: $textgrey;
        }
        p {
            color: $textgrey;
            @include mp;
        }
    }
}