    div.patient_dashboard {
        margin: 30px 0px;
        div.patient-header {
            @include patientbottom;
            &>form {
                margin: 20px 0px 0px 0px;
                ul.searchoptions {
                    background: white;
                    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
                    border-radius: 5px;
                    width: 100%;
                    li {
                        @include listMain;
                        font-size: 18px;
                        color: rgba($dark, 0.7);
                        @include transition;
                        @include respond(lphone) {
                            font-size: 16px;
                        }
                        &:hover {
                            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }
        }
        div.patient-main {
            @include patientbottom;
            width: 100%;
            padding: 0;
            margin: 30px 0px 20px 0px;
            &>header {
                padding: 10px 15px;
                border-bottom: 1px solid $lightgrey;
            }
            div#doctors {
                p.not-found {
                    font-size: 18px;
                    padding: 10px 15px;
                }
                overflow-x: hidden;
                div.doctor-profile {
                    padding: 35px 0px;
                    border-bottom: 1px solid $lightgrey;
                    @include respond(lphone) {
                        padding: 35px 10px;
                    }
                    &>div.image {
                        padding: 15px 0px 0px 25px;
                        @include respond(lphone) {
                            padding: 15px 0px 0px 10px;
                        }
                        img {
                            @include doctorsearchimg;
                        }
                    }
                    &>div.text {
                        @include respond(lphone) {
                            margin: 20px 0px 0px 0px;
                        }
                        h3 {
                            font-size: 30px;
                            @include mp;
                        }
                        p {
                            @extend .medtext;
                            margin: 0px;
                        }
                        ul {
                            li {
                                @include skillchange;
                            }
                        }
                        button.view_details {
                            font-size: 18px;
                            padding: 10px 20px;
                            margin: 15px 0px 0px 0px;
                        }
                    }
                }
            }
            div.doctor-single {
                padding: 50px 35px 20px 35px;
                div.doctor-cover {
                    @include absolutediv;
                    ul.doctor-skills {
                        li {
                            @include skillchange;
                        }
                    }
                }
            }
        }
    }